# What this Notebook is about?

This Notebook is part of the Data Science for Management course I'm teaching at the University of Firenze (Italy) during 2016/2017 academic year. A companion tutorial for the same course is [Python Course for Data Science](https://github.com/andrgig/Data-Science-for-Management/blob/master/Python%20Course%20for%20Data%20Science.ipynb).

For suggestions you can contact me on [Linkedin](https://it.linkedin.com/in/agigli) or [Twitter](https://twitter.com/andrgig).

*Andrea Gigli, PhD in Applied Statistics, MSc in Big Data Analytics and Social Mining*

---

# What is R

R is a powerful language and environment for doing Data Science (ie machine learning, information retrieval, statistical analysis, optimization and visualization). It is a public domain project (“GNU”) which is similar to the commercial S language, an environment which was developed at Bell Laboratories (formerly AT&T, now Lucent Technologies). 

The main advantages of R are the fact that R is freeware and that there is a lot of help available online thanks to a very active community. It is quite similar to other programming packages such as MatLab (not freeware), but more user-friendly than programming languages such as C++ or Java. 

Along with Python, it is one of the most important tools to know for people working with Data at all levels. 

R can be downloaded for free at http://www.r-project.org/

We'll use extensively RStudio interface, available at http://www.rstudio.org/

R can do many statistical and data analyses thanks to the so-called packages or libraries build by R users community. With the standard installation, most common packages are installed. To get a list of all installed packages, go to the RStudio packages window or type library() in the console window.

In [1]:
library()

Warning message in library():
“libraries ‘/usr/local/lib/R/site-library’, ‘/usr/lib/R/site-library’ contain no packages”

There are many more packages available on the R website than those you can see. If you want to install and use a package (for example, the package called “geometry”) you should:

1) first click "install packages" in the packages window and then type geometry, or type install.packages("geometry") in the command window,

2) then check the box in front of geometry in the package window or type library("geometry") in the command window.

In [2]:
install.packages("geometry")

Installing package into ‘/home/asus/R/x86_64-pc-linux-gnu-library/3.3’
(as ‘lib’ is unspecified)

In [3]:
library("geometry")

Loading required package: magic
Loading required package: abind

It's possible to ask help to R on commands using "help()" or "?"

In [4]:
help(round)
?round
help.search("round")

## Working Directory

Your working directory is the folder on your computer in which you are currently working. A working directory is always assumed by R

• New files are created by default in this directory

• Files to be read are expected by default in this directory

• getwd() and setwd() are used to manage the it.

When you ask R to open a certain file, it will look in the working directory for this file, and when you tell R to save a data file or figure, it will save it in the working directory.

Before you start working, please set your working directory to where all your data and script files are or should be stored. 

Type in the command window:

In [ ]:
setwd("directoryname") #error if the directory doesn't exist

If you want to know your working directory type

In [1]:
getwd()

[1] "C:/Users/t000524/workspace/Management Data Science Course/GitRepo/Data-Science-for-Management"

In [3]:
setwd("../../dati/")# up 2 levels, enter into dati folder

ERROR: Error in setwd("../../dati/"): cannot change working directory

In [5]:
setwd("data/")# down into data directory

In [6]:
dir() # elenca files/cartelle

[1] "311-service-requests.csv" "bikes.csv"
[3] "Italy.png"                "multicols_file.txt"
[5] "olive.csv"                "popularity-contest"
[7] "weather_2012.csv"         "weather_2012.sqlite"

In [9]:
dir.create("tmpLavoro")# crea cartella
setwd("tmpLavoro") # vi entra

source("script.R") esegue il codice R contenuto nel file di testo "script.R".

Questo vi consente di:
- spezzare un programma in moduli (script) separati, da eseguire richiamandoli sequenzialmente;
- collocare una funzione che usate ripetutamente in uno script-libreria personale, da caricare all’occorrenza.

Esempio: inizio di un mio “main script”:

source("00_Parametri.R")

source("00_Input.R")

source("00_CaricamentoDati.R")

source("libUtils.R")

In [7]:
source("script.R") #error expected if source.R dor in data folder

Warning message in file(filename, "r", encoding = encoding):
"cannot open file 'script.R': No such file or directory"

ERROR: Error in file(filename, "r", encoding = encoding): cannot open the connection

Managing the Workspace

In [9]:
ls() #To list what variables you have created in the current session

character(0)

In [10]:
search() #To see what libraries and dataframes are loade

 [1] ".GlobalEnv"        "jupyter:irkernel"  "jupyter:irkernel"
 [4] "package:stats"     "package:graphics"  "package:grDevices"
 [7] "package:utils"     "package:datasets"  "package:methods"
[10] "Autoloads"         "package:base"

In [8]:
library() #To see what libraries have been installed

To remove all variables from R’s memory, click “clear all” in the workspace window or type

In [14]:
rm(list=ls()) # To remove all objects
ls()

character(0)

 If you only want to remove the variable a, you can type
 
 `rm(variable_name)`

In [15]:
a <- 5
b <- a
ls()

[1] "a" "b"

In [16]:
rm(a)
ls()

[1] "b"

## R as a calculator
You can use R as a calculator and do both basic mathematical operations...

In [17]:
2+2

[1] 4

In [18]:
4-5

[1] -1

In [19]:
4/5

[1] 0.8

In [20]:
8*9

[1] 72

In [21]:
8^2

[1] 64

In [22]:
exp(2)

[1] 7.389056

In [23]:
log(exp(2))

[1] 2

In [24]:
5%%2

[1] 1

In [25]:
5%/%2

[1] 2

... or more complex ones

In [26]:
log((54*3+2)^2)/4

[1] 2.549933

# Variables 
You can create also variables in R and use them later in your scripts. The sign "<-" is used to assign a value to a variable. Variable types are

- Numeric
- Logical
- Character
- Missing Data
- Factor
- Dates


## Numeric, Boolean, Character

In [27]:
#numeric variable
x <- 10

Afterwards, no result is displayed. To view the content of the variable just call the variable

In [28]:
x

[1] 10

You can also write the assignement operation in brackets

In [29]:
(x <- 20)

[1] 20

In [30]:
y <- x + 10
z <- x^(3/4) -pi*y
z

[1] -84.79036

In [31]:
# boolean variable
z > 0

[1] FALSE

In [32]:
!(z > 0)

[1] TRUE

In [33]:
#string variable
string <- "pippo"
string

[1] "pippo"

In [34]:
boolean <- TRUE
boolean

[1] TRUE

## Missing Variable (and Inf)

**"Inf" and "NaN"** stand for Infinite Number and Missing data:

In [35]:
1/0

[1] Inf

In [36]:
0/0

[1] NaN

In [37]:
10*1/0

[1] Inf

In [38]:
10*0/0

[1] NaN

is.na() can be used to test if a variable has missing value

In [39]:
is.na(0/0)

[1] TRUE

## Factor Variables
A factor is a vector that can contain only predefined values, and is used to store categorical data. A factor variable can have ordered or unordered levels. Use the function factor to create a factor variable

Factors are built on top of integer vectors using two attributes: the class(), “factor”, which makes them behave differently from regular integer vectors, and the levels(), which defines the set of allowed values.

In [40]:
x <- c("female","male","male","female", "female")
x

[1] "female" "male"   "male"   "female" "female"

In [41]:
class(x)

[1] "character"

In [42]:
f <- factor(x)
f
class(f)

[1] female male   male   female female
Levels: female male

[1] "factor"

In [43]:
levels(f)
as.numeric(f)

[1] "female" "male"

[1] 1 2 2 1 1

In [44]:
table(f)

f
female   male
     3      2

In [45]:
levels(f) #Retrieve or set the levels of x
nlevels(f) #Return the number of levels of x

[1] "female" "male"

[1] 2

`relevel(f, ref)` #Levels of x are reordered so that the level specified by ref is first

`reorder()` #Reorders levels based on the values of a second variable

`gl()` #Generate factors by specifying the pattern of their levels

In [46]:
# Generate factor levels for 3 treatments and 2 cases per treatment
f2 <- gl(3, 2, labels=paste("trt",1:3, sep="."))
f2
levels(f2)
nlevels(f2)

[1] trt.1 trt.1 trt.2 trt.2 trt.3 trt.3
Levels: trt.1 trt.2 trt.3

[1] "trt.1" "trt.2" "trt.3"

[1] 3

`cut(x, breaks)` #Divides the range of x into intervals (factors) determined by breaks

In [47]:
set.seed(123)
x <- runif(10)
x
x <- cut(x, 3) # Cut x into three intervals
x

 [1] 0.2875775 0.7883051 0.4089769 0.8830174 0.9404673 0.0455565 0.5281055
 [8] 0.8924190 0.5514350 0.4566147

 [1] (0.0447,0.344] (0.642,0.941]  (0.344,0.642]  (0.642,0.941]  (0.642,0.941]
 [6] (0.0447,0.344] (0.344,0.642]  (0.642,0.941]  (0.344,0.642]  (0.344,0.642]
Levels: (0.0447,0.344] (0.344,0.642] (0.642,0.941]

In [48]:
set.seed(123)
x <- runif(10)
x
x <- cut(x, c(0,.25,.5,.75,1)) # Cut x at the given cut points
x

 [1] 0.2875775 0.7883051 0.4089769 0.8830174 0.9404673 0.0455565 0.5281055
 [8] 0.8924190 0.5514350 0.4566147

 [1] (0.25,0.5] (0.75,1]   (0.25,0.5] (0.75,1]   (0.75,1]   (0,0.25]
 [7] (0.5,0.75] (0.75,1]   (0.5,0.75] (0.25,0.5]
Levels: (0,0.25] (0.25,0.5] (0.5,0.75] (0.75,1]

## Dates and Time

The as.Date function is a built-in function able to handle dates (without time, without control zone). The chron library handles dates and times (without control zones). POSIXct and POSIXlt classes allow for dates and times with control for time zones.

### as.Date

The as.Date function allows a variety of input formats through the format = argument. The default format is a four digit year, followed by a month, then a day, separated by either dashes or slashes

In [49]:
as.Date('1915-6-16')

[1] "1915-06-16"

| Code | Value         
| :- |:-------------
| %d | Day of the month (decimal) 
| %m | Month (decimal)
| %b | Month (abbreviated name)
| %B | Month (full name)
| %y | Year (2 digits)
| %Y | Year (4 digits)

In [50]:
as.Date('01/15/2001',format='%m/%d/%Y')

[1] "2001-01-15"

In [51]:
 as.Date('April 26, 2001',format='%B %d, %Y')

[1] "2001-04-26"

**Internally, Date objects are stored as the number of days since January 1, 1970**, using negative numbers for earlier dates. The as.numeric function can be used to convert a Date object to its internal form.

To extract the components of the dates, the weekdays, months, days or quarters functions can be used.

In [52]:
bdays = c(tukey=as.Date('1915-06-16'),fisher=as.Date('1890-02-17'),
          cramer=as.Date('1893-09-25'), kendall=as.Date('1907-09-06'))
weekdays(bdays)
months(bdays)

      tukey      fisher      cramer     kendall
"Wednesday"    "Monday"    "Monday"    "Friday"

      tukey      fisher      cramer     kendall
     "June"  "February" "September" "September"

### chron
This class is a good option when you don’t need to deal with timezones. It requires the package chron.

In [53]:
require(chron)

Loading required package: chron

In [54]:
#create some times:

tm1.c <- as.chron("2013-07-24 23:55:26")
tm1.c

[1] (07/24/13 23:55:26)

In [55]:
attributes(tm1.c)

$format
  dates   times
"m/d/y" "h:m:s"

$origin
month   day  year
    1     1  1970

$class
[1] "chron" "dates" "times"

In [56]:
tm2.c <- as.chron("07/25/13 08:32:07", "%m/%d/%y %H:%M:%S")
tm2.c

[1] (07/25/13 08:32:07)

In [57]:
#extract just the date:

dates(tm1.c)

    day
07/24/13

In [58]:
#compare times:

tm2.c > tm1.c

[1] TRUE

In [59]:
#add days:

tm1.c + 10

[1] (08/03/13 23:55:26)

In [60]:
#calculate the differene between times:
tm2.c - tm1.c

[1] 08:36:41

In [61]:
difftime(tm2.c, tm1.c, units = "hours")
## Time difference of 8.611 hours

Time difference of 8.611389 hours

In [62]:
#does not adjust for daylight savings time:

as.chron("2013-03-10 08:32:07") - as.chron("2013-03-09 23:55:26")

[1] 08:36:41

### POSIXct
This class enables easy extraction of specific componants of a time. (“ct” stand for calender time and “lt” stands for local time. “lt” also helps one remember that POXIXlt objects are lists.)

In [63]:
#Get the current time (in POSIXct by default):

Sys.time()

[1] "2017-02-05 17:39:27 CET"

In [64]:
#create some POSIXct objects:

tm1 <- as.POSIXct("2013-07-24 23:55:26")
tm1

[1] "2013-07-24 23:55:26 CEST"

In [65]:
attributes(tm1)

$class
[1] "POSIXct" "POSIXt"

$tzone
[1] ""

In [66]:
tm2 <- as.POSIXct("25072013 08:32:07", format = "%d%m%Y %H:%M:%S")
tm2

[1] "2013-07-25 08:32:07 CEST"

In [67]:
#specify the time zone:

tm3 <- as.POSIXct("2010-12-01 11:42:03", tz = "GMT")
tm3

[1] "2010-12-01 11:42:03 GMT"

In [68]:
tm2 > tm1

[1] TRUE

In [69]:
tm2 - tm1

Time difference of 8.611389 hours

In [70]:
tm1
tm1 + 30

[1] "2013-07-24 23:55:26 CEST"

[1] "2013-07-24 23:55:56 CEST"

In [71]:
#automatically adjusts for daylight savings time:

as.POSIXct("2013-03-10 08:32:07") - as.POSIXct("2013-03-09 23:55:26")

Time difference of 8.611389 hours

### POSIXlt
This class enables easy extraction of specific componants of a time. (“ct” stand for calender time and “lt” stands for local time. “lt” also helps one remember that POXIXlt objects are lists.)

In [72]:
#create a time:

tm1.lt <- as.POSIXlt("2013-07-24 23:55:26")
tm1.lt

[1] "2013-07-24 23:55:26 CEST"

In [73]:
attributes(tm1.lt)

$names
 [1] "sec"    "min"    "hour"   "mday"   "mon"    "year"   "wday"   "yday"
 [9] "isdst"  "zone"   "gmtoff"

$class
[1] "POSIXlt" "POSIXt"

In [74]:
unclass(tm1.lt)

$sec
[1] 26

$min
[1] 55

$hour
[1] 23

$mday
[1] 24

$mon
[1] 6

$year
[1] 113

$wday
[1] 3

$yday
[1] 204

$isdst
[1] 1

$zone
[1] "CEST"

$gmtoff
[1] NA

In [75]:
unlist(tm1.lt)

   sec    min   hour   mday    mon   year   wday   yday  isdst   zone gmtoff
  "26"   "55"   "23"   "24"    "6"  "113"    "3"  "204"    "1" "CEST"     NA

In [76]:
#extract componants of a time object:

tm1.lt$se

[1] 26

In [77]:
#truncate or round off the time:

trunc(tm1.lt, "days")

[1] "2013-07-24 CEST"

In [78]:
trunc(tm1.lt, "mins")

[1] "2013-07-24 23:55:00 CEST"

## Testing and Coercing Objects

All objects in R have a type. We can test the type of an object using a `is.`*type*`()` function.

We can also attempt to coerce objects of one type to another using a `as.`*type*`()` function.

** Automatic conversions **:

- Logical values are converted to numbers by setting FALSE as 0 and TRUE as 1

- Logical, numeric, factor and date types are converted to characters by converting each element/level individually

** Some general rules for coercion **:

- Numeric values are coerced to logical by treating all non-zero values as TRUE

- Numeric characters can be coerced to numbers, but non-numeric characters cannot

- Factor levels can be coerced to numeric and numbers can be coerced to factors with a level for each unique number

- Vectors, matrices and arrays are coerced to lists by making each element a vector of length 1

- Vectors, matrices, arrays can also be coerced from one form to another 43 of 

|Type | Testing | Coercing
| :- | :- | :---------
| Array | is.array() | as.array()
| Character | is.character() | as.character()
| Dataframe | is.data.frame() | as.data.frame()
| Factor | is.factor() | as.factor()
| List | is.list() | as.list()
| Logical | is.logical() | as.logical()
| Matrix | is.matrix() | as.matrix()
| Numeric | is.numeric() | as.numeric()
| Vector | is.vector() | as.vector()

In [79]:
 x <- 1:10

In [80]:
typeof(x)

[1] "integer"

In [81]:
x>5

 [1] FALSE FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE

In [82]:
sum(x>5) # Automatic conversion to numeric vector

[1] 5

In [83]:
is.vector(x)

[1] TRUE

In [84]:
is.numeric(x)

[1] TRUE

In [85]:
as.list(x)

[[1]]
[1] 1

[[2]]
[1] 2

[[3]]
[1] 3

[[4]]
[1] 4

[[5]]
[1] 5

[[6]]
[1] 6

[[7]]
[1] 7

[[8]]
[1] 8

[[9]]
[1] 9

[[10]]
[1] 10

In [86]:
mystring <- "123"
typeof(mystring)

[1] "character"

In [87]:
as.numeric(mystring)

[1] 123

In [88]:
mybool <- TRUE

In [89]:
typeof(mybool)

[1] "logical"

In [90]:
mybool <- as.numeric(mybool)
typeof(mybool)

[1] "double"

# Data Structures

- Vectors
- Lists
- Arrays
- Matrices
- Dataframes

## Vectors
Vector is the basic data structure in R and it is an **ordered collection of objects of the same type**. It can be atomic vector (all elements are the same type) or list (element can have different type).

In [91]:
#combine objects into an atomic vector
y <- c(1,2,3)

In [92]:
y

[1] 1 2 3

In [93]:
string <- "pippo"
strings <- c(string, "pluto")

In [94]:
strings

[1] "pippo" "pluto"

Atomic vectors are always flat

In [95]:
c(1,c(2, c(3,4)))

[1] 1 2 3 4

In [96]:
v <- vector(10, mode="numeric"); v #initializa a vector of numerics

 [1] 0 0 0 0 0 0 0 0 0 0

Vectors can be created via ad'hoc buil-in functions. A very useful function is seq()

In [97]:
seq(from = 1, to = 10, by = 3)

[1]  1  4  7 10

In [16]:
v <- seq(-1,1,0.01)
v

  [1] -1.00 -0.99 -0.98 -0.97 -0.96 -0.95 -0.94 -0.93 -0.92 -0.91 -0.90 -0.89
 [13] -0.88 -0.87 -0.86 -0.85 -0.84 -0.83 -0.82 -0.81 -0.80 -0.79 -0.78 -0.77
 [25] -0.76 -0.75 -0.74 -0.73 -0.72 -0.71 -0.70 -0.69 -0.68 -0.67 -0.66 -0.65
 [37] -0.64 -0.63 -0.62 -0.61 -0.60 -0.59 -0.58 -0.57 -0.56 -0.55 -0.54 -0.53
 [49] -0.52 -0.51 -0.50 -0.49 -0.48 -0.47 -0.46 -0.45 -0.44 -0.43 -0.42 -0.41
 [61] -0.40 -0.39 -0.38 -0.37 -0.36 -0.35 -0.34 -0.33 -0.32 -0.31 -0.30 -0.29
 [73] -0.28 -0.27 -0.26 -0.25 -0.24 -0.23 -0.22 -0.21 -0.20 -0.19 -0.18 -0.17
 [85] -0.16 -0.15 -0.14 -0.13 -0.12 -0.11 -0.10 -0.09 -0.08 -0.07 -0.06 -0.05
 [97] -0.04 -0.03 -0.02 -0.01  0.00  0.01  0.02  0.03  0.04  0.05  0.06  0.07
[109]  0.08  0.09  0.10  0.11  0.12  0.13  0.14  0.15  0.16  0.17  0.18  0.19
[121]  0.20  0.21  0.22  0.23  0.24  0.25  0.26  0.27  0.28  0.29  0.30  0.31
[133]  0.32  0.33  0.34  0.35  0.36  0.37  0.38  0.39  0.40  0.41  0.42  0.43
[145]  0.44  0.45  0.46  0.47  0.48  0.49  0.50  0.51  0.52  0.53  0.54  0.55
[157]  0.56  0.57  0.58  0.59  0.60  0.61  0.62  0.63  0.64  0.65  0.66  0.67
[169]  0.68  0.69  0.70  0.71  0.72  0.73  0.74  0.75  0.76  0.77  0.78  0.79
[181]  0.80  0.81  0.82  0.83  0.84  0.85  0.86  0.87  0.88  0.89  0.90  0.91
[193]  0.92  0.93  0.94  0.95  0.96  0.97  0.98  0.99  1.00

Vector elements can be accessed (or referenced) in several ways

In [17]:
v[1]

[1] -1

In [18]:
v[1:3]

[1] -1.00 -0.99 -0.98

In [19]:
v[c(10:12,28:29,32)]

[1] -0.91 -0.90 -0.89 -0.73 -0.72 -0.69

**Be aware R doesn't work like Python**... If you type v[-1] you get the vector without the first elemnt and not the last element of the vector

In [20]:
v[-1]

  [1] -0.99 -0.98 -0.97 -0.96 -0.95 -0.94 -0.93 -0.92 -0.91 -0.90 -0.89 -0.88
 [13] -0.87 -0.86 -0.85 -0.84 -0.83 -0.82 -0.81 -0.80 -0.79 -0.78 -0.77 -0.76
 [25] -0.75 -0.74 -0.73 -0.72 -0.71 -0.70 -0.69 -0.68 -0.67 -0.66 -0.65 -0.64
 [37] -0.63 -0.62 -0.61 -0.60 -0.59 -0.58 -0.57 -0.56 -0.55 -0.54 -0.53 -0.52
 [49] -0.51 -0.50 -0.49 -0.48 -0.47 -0.46 -0.45 -0.44 -0.43 -0.42 -0.41 -0.40
 [61] -0.39 -0.38 -0.37 -0.36 -0.35 -0.34 -0.33 -0.32 -0.31 -0.30 -0.29 -0.28
 [73] -0.27 -0.26 -0.25 -0.24 -0.23 -0.22 -0.21 -0.20 -0.19 -0.18 -0.17 -0.16
 [85] -0.15 -0.14 -0.13 -0.12 -0.11 -0.10 -0.09 -0.08 -0.07 -0.06 -0.05 -0.04
 [97] -0.03 -0.02 -0.01  0.00  0.01  0.02  0.03  0.04  0.05  0.06  0.07  0.08
[109]  0.09  0.10  0.11  0.12  0.13  0.14  0.15  0.16  0.17  0.18  0.19  0.20
[121]  0.21  0.22  0.23  0.24  0.25  0.26  0.27  0.28  0.29  0.30  0.31  0.32
[133]  0.33  0.34  0.35  0.36  0.37  0.38  0.39  0.40  0.41  0.42  0.43  0.44
[145]  0.45  0.46  0.47  0.48  0.49  0.50  0.51  0.52  0.53  0.54  0.55  0.56
[157]  0.57  0.58  0.59  0.60  0.61  0.62  0.63  0.64  0.65  0.66  0.67  0.68
[169]  0.69  0.70  0.71  0.72  0.73  0.74  0.75  0.76  0.77  0.78  0.79  0.80
[181]  0.81  0.82  0.83  0.84  0.85  0.86  0.87  0.88  0.89  0.90  0.91  0.92
[193]  0.93  0.94  0.95  0.96  0.97  0.98  0.99  1.00

Here are some useful built-in functions you can apply to a vector

In [21]:
length(v) #lunghezza (numero elementi) del vettore v
min(v) #minimo degli elementi in v
max(v) #massimo degli elementi in v
sum(v) #sommatoria degli elementi in v
prod(v) #produttoria degli elementi in v
sort(v) #ritorna vettore con elementi di v riordinati
head(v,5)  #n valori di testa del vettore v
tail(v,5) #n valori di coda del vettore v

[1] 201

[1] -1

[1] 1

[1] 4.107825e-15

[1] 0

  [1] -1.00 -0.99 -0.98 -0.97 -0.96 -0.95 -0.94 -0.93 -0.92 -0.91 -0.90 -0.89
 [13] -0.88 -0.87 -0.86 -0.85 -0.84 -0.83 -0.82 -0.81 -0.80 -0.79 -0.78 -0.77
 [25] -0.76 -0.75 -0.74 -0.73 -0.72 -0.71 -0.70 -0.69 -0.68 -0.67 -0.66 -0.65
 [37] -0.64 -0.63 -0.62 -0.61 -0.60 -0.59 -0.58 -0.57 -0.56 -0.55 -0.54 -0.53
 [49] -0.52 -0.51 -0.50 -0.49 -0.48 -0.47 -0.46 -0.45 -0.44 -0.43 -0.42 -0.41
 [61] -0.40 -0.39 -0.38 -0.37 -0.36 -0.35 -0.34 -0.33 -0.32 -0.31 -0.30 -0.29
 [73] -0.28 -0.27 -0.26 -0.25 -0.24 -0.23 -0.22 -0.21 -0.20 -0.19 -0.18 -0.17
 [85] -0.16 -0.15 -0.14 -0.13 -0.12 -0.11 -0.10 -0.09 -0.08 -0.07 -0.06 -0.05
 [97] -0.04 -0.03 -0.02 -0.01  0.00  0.01  0.02  0.03  0.04  0.05  0.06  0.07
[109]  0.08  0.09  0.10  0.11  0.12  0.13  0.14  0.15  0.16  0.17  0.18  0.19
[121]  0.20  0.21  0.22  0.23  0.24  0.25  0.26  0.27  0.28  0.29  0.30  0.31
[133]  0.32  0.33  0.34  0.35  0.36  0.37  0.38  0.39  0.40  0.41  0.42  0.43
[145]  0.44  0.45  0.46  0.47  0.48  0.49  0.50  0.51  0.52  0.53  0.54  0.55
[157]  0.56  0.57  0.58  0.59  0.60  0.61  0.62  0.63  0.64  0.65  0.66  0.67
[169]  0.68  0.69  0.70  0.71  0.72  0.73  0.74  0.75  0.76  0.77  0.78  0.79
[181]  0.80  0.81  0.82  0.83  0.84  0.85  0.86  0.87  0.88  0.89  0.90  0.91
[193]  0.92  0.93  0.94  0.95  0.96  0.97  0.98  0.99  1.00

[1] -1.00 -0.99 -0.98 -0.97 -0.96

[1] 0.96 0.97 0.98 0.99 1.00

Additional functions that will return the indices of a vector are 

which() Indices of a logical vector where the condition is TRUE

which.max() Location of the (first) maximum element of a numeric vector

which.min() Location of the (first) minimum element of a numeric vector

match() First position of an element in a vector

In [23]:
which(v==0)

[1] 101

In [26]:
which.max(v) ; which.min(v)

[1] 201

[1] 1

In [33]:
match(0,v)

[1] NA

## Lists

Lists are another very useful data structure in R. They are different wrt Vectors because **a list can hold different data types and elements having different dimensions**.

In [105]:
#list
x <- list(1:3, "a", c(TRUE, FALSE, TRUE), c(2.3, 5.9))
x

[[1]]
[1] 1 2 3

[[2]]
[1] "a"

[[3]]
[1]  TRUE FALSE  TRUE

[[4]]
[1] 2.3 5.9

In [106]:
x[[4]]
typeof(x[[4]])

[1] 2.3 5.9

[1] "double"

In [107]:
x[4]
typeof(x[4])

[[1]]
[1] 2.3 5.9

[1] "list"

In [108]:
x[[4]][2]
typeof(x[[4]][2])

[1] 5.9

[1] "double"

In [109]:
x[2:4]

[[1]]
[1] "a"

[[2]]
[1]  TRUE FALSE  TRUE

[[3]]
[1] 2.3 5.9

In [110]:
L <- list(name = "Andrea", height = 190.0, married = TRUE, number.children = 0, email = "andrgig@me.com")
names(L)

[1] "name"            "height"          "married"         "number.children"
[5] "email"

In [111]:
L[[1]] ; L[[5]]
L$married
L$number.children

[1] "Andrea"

[1] "andrgig@me.com"

[1] TRUE

[1] 0

In [112]:
L$number.children <- 1
L

$name
[1] "Andrea"

$height
[1] 190

$married
[1] TRUE

$number.children
[1] 1

$email
[1] "andrgig@me.com"

In [113]:
L<-append(L,list(children.name=c("Arianna")))
L

$name
[1] "Andrea"

$height
[1] 190

$married
[1] TRUE

$number.children
[1] 1

$email
[1] "andrgig@me.com"

$children.name
[1] "Arianna"

In [114]:
#lists
l <- list()
l[10] <- "pippo"
l[1] <- 1
l <- append(l, "pluto")
l <- c(l, c(1, 2, 3))
l

[[1]]
[1] 1

[[2]]
NULL

[[3]]
NULL

[[4]]
NULL

[[5]]
NULL

[[6]]
NULL

[[7]]
NULL

[[8]]
NULL

[[9]]
NULL

[[10]]
[1] "pippo"

[[11]]
[1] "pluto"

[[12]]
[1] 1

[[13]]
[1] 2

[[14]]
[1] 3

Here are some useful functions

`lapply()` # Apply a function to each element of a list, returns a list

`sapply()` # Same as lapply(), but returns a vector or matrix by default

`vapply()` # Similiar to sapply(), but has a pre-specified type of return value

`replicate()` # Repeated evaluation of an expression, useful for replicating lists

`unlist(x)` # Produce a vector of all the components that occur in x

`length(x)` # Number of objects in x

`names(x)` # Names of the objects in x

In [115]:
#List of seven different vectors
L <- lapply(3:9, seq)
L

[[1]]
[1] 1 2 3

[[2]]
[1] 1 2 3 4

[[3]]
[1] 1 2 3 4 5

[[4]]
[1] 1 2 3 4 5 6

[[5]]
[1] 1 2 3 4 5 6 7

[[6]]
[1] 1 2 3 4 5 6 7 8

[[7]]
[1] 1 2 3 4 5 6 7 8 9

In [116]:
lapply(L, fivenum) # fivenum returns minimum, lower-hinge, median, upper-hinge, maximum for input data

[[1]]
[1] 1.0 1.5 2.0 2.5 3.0

[[2]]
[1] 1.0 1.5 2.5 3.5 4.0

[[3]]
[1] 1 2 3 4 5

[[4]]
[1] 1.0 2.0 3.5 5.0 6.0

[[5]]
[1] 1.0 2.5 4.0 5.5 7.0

[[6]]
[1] 1.0 2.5 4.5 6.5 8.0

[[7]]
[1] 1 3 5 7 9

In [117]:
sapply(L, fivenum) #return a matrix

     [,1] [,2] [,3] [,4] [,5] [,6] [,7]
[1,] 1.0  1.0  1    1.0  1.0  1.0  1
[2,] 1.5  1.5  2    2.0  2.5  2.5  3
[3,] 2.0  2.5  3    3.5  4.0  4.5  5
[4,] 2.5  3.5  4    5.0  5.5  6.5  7
[5,] 3.0  4.0  5    6.0  7.0  8.0  9

In [118]:
vapply(L, fivenum, c(Min.=0, "1st Quart"=0, Median=0, "3rd Qu"=0, Max.=0))

          [,1] [,2] [,3] [,4] [,5] [,6] [,7]
Min.      1.0  1.0  1    1.0  1.0  1.0  1
1st Quart 1.5  1.5  2    2.0  2.5  2.5  3
Median    2.0  2.5  3    3.5  4.0  4.5  5
3rd Qu    2.5  3.5  4    5.0  5.5  6.5  7
Max.      3.0  4.0  5    6.0  7.0  8.0  9

## Matrices 

A matrix is just a **two-dimensional generalization of a vector**

To create a matrix,

`matrix(data=NA, nrow=1, ncol=1, byrow = FALSE, dimnames = NULL)`

data -> a vector that gives data to fill the matrix; if data does not have enough elements to fill the matrix, then the elements are recycled.

nrow -> desired number of rows

ncol -> desired number of columns

byrow -> if FALSE (default) matrix is filled by columns, otherwise by rows

dimnames (optional) ->list of length 2 giving the row and column names respectively, list names will be used as names for the dimensions

In [119]:
# Matrix definition requires 2 scalar arguments to specify rows and columns
a <- matrix(1:6, ncol = 3, nrow = 2)
a

     [,1] [,2] [,3]
[1,] 1    3    5
[2,] 2    4    6

In [120]:
#or just one of them
m <- matrix(c(1,2,3,4,5,6,7,8,9,10), ncol = 2) # a matrix is a 2D array
m

     [,1] [,2]
[1,] 1     6
[2,] 2     7
[3,] 3     8
[4,] 4     9
[5,] 5    10

In [121]:
dim(m)

[1] 5 2

In [122]:
x <- 1:15
x
dim(x) <- c(3,5) #converte x in matrice 3x5
x
dim(x) <- c(5,3)
x

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    4    7    10   13
[2,] 2    5    8    11   14
[3,] 3    6    9    12   15

     [,1] [,2] [,3]
[1,] 1     6   11
[2,] 2     7   12
[3,] 3     8   13
[4,] 4     9   14
[5,] 5    10   15

In [123]:
#get dimensions
ncol(m); nrow(m)

[1] 2

[1] 5

We can also reference parts of a matrix by using the row or column names

In [124]:
N <- matrix(c(5,8,3,0,4,1), nrow=2, ncol=3, byrow=TRUE)
colnames(N) <- c("c.1", "c.2", "c.3")
N

     c.1 c.2 c.3
[1,] 5   8   3
[2,] 0   4   1

Here are some matrix operations you can try

In [125]:
t(m) #matrice trasposta
n <- m*2/5
m + n #matrice somma (componente per componente)
m * n #matrice prodotto componente per componente!!

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    2    3    4     5
[2,] 6    7    8    9    10

     [,1] [,2]
[1,] 1.4   8.4
[2,] 2.8   9.8
[3,] 4.2  11.2
[4,] 5.6  12.6
[5,] 7.0  14.0

     [,1] [,2]
[1,]  0.4 14.4
[2,]  1.6 19.6
[3,]  3.6 25.6
[4,]  6.4 32.4
[5,] 10.0 40.0

In [126]:
A <- m %*% t(n); A #prodotto matriciale riga per colonna!!

     [,1] [,2] [,3] [,4] [,5]
[1,] 14.8 17.6 20.4 23.2 26
[2,] 17.6 21.2 24.8 28.4 32
[3,] 20.4 24.8 29.2 33.6 38
[4,] 23.2 28.4 33.6 38.8 44
[5,] 26.0 32.0 38.0 44.0 50

In [127]:
diag(5:7) #crea matrice 3x3 con 0 fuori dalla diagonale

     [,1] [,2] [,3]
[1,] 5    0    0
[2,] 0    6    0
[3,] 0    0    7

In [128]:
eigen(A) #calcola autovalori ed autovettori (A quadrata!)

$values
[1]  1.526902e+02  1.309842e+00 -1.036463e-15 -7.526132e-15 -1.081489e-14

$vectors
           [,1]        [,2]        [,3]       [,4]          [,5]
[1,] -0.3042621 -0.71233741  0.00000000  0.0000000  6.324555e-01
[2,] -0.3707409 -0.40317635 -0.09517546  0.5393901 -6.324555e-01
[3,] -0.4372198 -0.09401529  0.52893822 -0.6482471 -3.162278e-01
[4,] -0.5036986  0.21514578 -0.77235007 -0.3216759  9.436896e-16
[5,] -0.5701775  0.52430684  0.33858731  0.4305330  3.162278e-01

In [129]:
qr(A) #decomposizione QR

$qr
            [,1]        [,2]          [,3]          [,4]          [,5]
[1,] -46.4671927 -56.6076805 -6.674817e+01 -7.688866e+01 -8.702914e+01
[2,]   0.3787619   0.6086934  1.217387e+00  1.826080e+00  2.434773e+00
[3,]   0.4390194  -0.1498862 -1.388489e-14 -9.625592e-15 -2.393526e-14
[4,]   0.4992770  -0.4925889  7.995907e-01 -1.558967e-15 -4.316620e-15
[5,]   0.5595346  -0.8352916 -3.198363e-02  7.572430e-01 -3.974612e-15

$rank
[1] 2

$qraux
[1] 1.318504e+00 1.192816e+00 1.599693e+00 1.653133e+00 3.974612e-15

$pivot
[1] 1 2 3 4 5

attr(,"class")
[1] "qr"

In [130]:
svd(A) #Singular Value Decomposition

$d
[1] 1.526902e+02 1.309842e+00 6.355119e-15 2.372550e-15 1.313234e-15

$u
           [,1]        [,2]        [,3]        [,4]       [,5]
[1,] -0.3042621 -0.71233741  0.61211795 -0.10250109  0.1216764
[2,] -0.3707409 -0.40317635 -0.74624939 -0.32576568  0.1923241
[3,] -0.4372198 -0.09401529 -0.15069837  0.86802314 -0.1543562
[4,] -0.5036986  0.21514578  0.09167311 -0.34874488 -0.7549656
[5,] -0.5701775  0.52430684  0.19315670 -0.09101149  0.5953213

$v
           [,1]        [,2]        [,3]         [,4]        [,5]
[1,] -0.3042621 -0.71233741  0.33548899  0.334905904  0.41867072
[2,] -0.3707409 -0.40317635 -0.01704823 -0.770650749 -0.32527954
[3,] -0.4372198 -0.09401529 -0.34047150  0.533736673 -0.63182618
[4,] -0.5036986  0.21514578 -0.60986826 -0.095144714  0.56480809
[5,] -0.5701775  0.52430684  0.63189901 -0.002847113 -0.02637309

Matrix elements can be accessed in different ways

In [131]:
#indexing
A
A[1]
A[c(1,3)]
A[1, 2]
A[1,]

     [,1] [,2] [,3] [,4] [,5]
[1,] 14.8 17.6 20.4 23.2 26
[2,] 17.6 21.2 24.8 28.4 32
[3,] 20.4 24.8 29.2 33.6 38
[4,] 23.2 28.4 33.6 38.8 44
[5,] 26.0 32.0 38.0 44.0 50

[1] 14.8

[1] 14.8 20.4

[1] 17.6

[1] 14.8 17.6 20.4 23.2 26.0

**The apply() function is used for applying functions to the margins of a matrix, array, or dataframes**.

`apply(X, MARGIN, FUN, ...)`

X -> A matrix, array or dataframe

MARGIN -> Vector of subscripts indicating which margins to apply the function to 1=rows, 2=columns, c(1,2)=rows and columns

FUN -> Function to be applied

... -> Optional arguments for FUN

In [132]:
(x <- matrix(1:12, nrow=3, ncol=4))

     [,1] [,2] [,3] [,4]
[1,] 1    4    7    10
[2,] 2    5    8    11
[3,] 3    6    9    12

In [133]:
apply(x, 1, sum) # Row totals

[1] 22 26 30

In [134]:
apply(x, 2, mean) # Column means

[1]  2  5  8 11

## Arrays
An array is a multi-dimensional generalization of a vector. A special case of array structures are matrices, which are bi-dimensional arrays.

To create an array,

`array(data = NA, dim = length(data), dimnames = NULL)`

data -> A vector that gives data to fill the array; if data does not have enough elements to fill the matrix, then the elements are recycled.

dim -> Dimension of the array, a vector of length one or more giving the maximum indices in each dimension

dimnames->s Name of the dimensions, list with one component for each dimension, either NULL or a character vector of the length given by dim for that dimension. The list can be named, and the list names will be used as names for the dimensions.

The list can be named, and the list names will be used as names for the dimensions.
- Values are entered by columns
- Like with vectors and matrices, when arrays are used in math expressions the operations are performed element by element.
- Also like vectors and matrices, the elements of an array must all be of the same type (numeric, character, logical, etc.)

In [135]:
#arrays
a <- array(data = c(1,2,3,4,5,6,7,8,9,10), dim = c(2,5))

In [136]:
a

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    3    5    7     9
[2,] 2    4    6    8    10

In [137]:
nrow(a)
ncol(a)

[1] 2

[1] 5

In [138]:
rownames(a) <- c("A", "B")
colnames(a) <- c("a", "b", "c","d","e")
a

  a b c d e
A 1 3 5 7  9
B 2 4 6 8 10

Accesso ad elementi dell'array tramite []:

In [139]:
a[1]
a[1,1]
a[3]
a[1,2]
a[-1]
a[-c(2,4)]

[1] 1

[1] 1

[1] 3

[1] 3

[1]  2  3  4  5  6  7  8  9 10

[1]  1  3  5  6  7  8  9 10

In [140]:
a1 <- array(seq_len(24), c(2,4,3))
a1
a1[1,1,1]
a1[1,1,3]
a1[2,4,3]

, , 1

     [,1] [,2] [,3] [,4]
[1,]    1    3    5    7
[2,]    2    4    6    8

, , 2

     [,1] [,2] [,3] [,4]
[1,]    9   11   13   15
[2,]   10   12   14   16

, , 3

     [,1] [,2] [,3] [,4]
[1,]   17   19   21   23
[2,]   18   20   22   24

[1] 1

[1] 17

[1] 24

In [141]:
length(a1)

[1] 24

In [142]:
attributes(a1)

$dim
[1] 2 4 3

In [143]:
#transform array into vectors
dim(a1) <- NULL
a1

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24

In [144]:
attributes(a1)

NULL

In [145]:
length(a1)

[1] 24

In [146]:
w <- array(1:12, dim=c(2,3,2),
           dimnames=list(c("A","B"), c("X","Y","Z"), c("N","M")))
w[2,3,1] # Row 2, Column 3, Matrix 1
w[,"Y",] # Column named "Y"
w[1,,] # Row 1
w[1:2,,"M"] # Rows 1 and 2, Matrix "M"

[1] 6

  N M
A 3  9
B 4 10

  N M
X 1  7
Y 3  9
Z 5 11

  X Y  Z
A 7  9 11
B 8 10 12

**We can use the apply() function for more then one dimension**. 

For a 3-dimensional array there are now three margins to apply the function to: 1=rows, 2=columns, and 3=matrices.

In [147]:
apply(w, 2, sum) # Column sums

 X  Y  Z
18 26 34

In [148]:
apply(w, c(1,3), sum) # Row and matrix sums

  N  M
A  9 27
B 12 30

# Dataframes
Dataframes represets the most famous R data structures. They represents a table, with rows and columns, where

1) One column holds data of the same type ( a vector)

2) Different columns can have different data types. ( a list)

3) Every row in a data frame has a row id.

A dataframe is a matrix-like structure, where the columns can be of different types. You can also think of a dataframe as a list. Each column is an element of the list and each element has the same length.

Rows and columns can be accessed through indexes, which can be numeric or associative
- `df[ 1, 2 ]`
- `df$example_column`
- `df[ 1:3, 4:5 ]`

In [149]:
#data frames
df1 <- data.frame(x = seq_len(20), y =rnorm(20), z = 2*seq_len(20))

df1$x

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

Data Frames can be analyzed using the following commands

- `nrow` and `ncol`
- `summary`
- `head` and `tail`
- `str`

The library `psych` has 

- `describe`

In [150]:
head(df1)

  x y          z
1 1  1.7150650  2
2 2  0.4609162  4
3 3 -1.2650612  6
4 4 -0.6868529  8
5 5 -0.4456620 10
6 6  1.2240818 12

In [151]:
summary(df1)

       x               y                  z
 Min.   : 1.00   Min.   :-1.96662   Min.   : 2.0
 1st Qu.: 5.75   1st Qu.:-0.69736   1st Qu.:11.5
 Median :10.50   Median :-0.33182   Median :21.0
 Mean   :10.50   Mean   :-0.09006   Mean   :21.0
 3rd Qu.:15.25   3rd Qu.: 0.47015   3rd Qu.:30.5
 Max.   :20.00   Max.   : 1.78691   Max.   :40.0

In [152]:
nrow(df1); ncol(df1)

[1] 20

[1] 3

In [153]:
str(df1)

'data.frame':	20 obs. of  3 variables:
 $ x: int  1 2 3 4 5 6 7 8 9 10 ...
 $ y: num  1.715 0.461 -1.265 -0.687 -0.446 ...
 $ z: num  2 4 6 8 10 12 14 16 18 20 ...

In [154]:
names(df1)[1] <- "column1"
df1$column1
df1$x
df1$y

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

NULL

 [1]  1.7150650  0.4609162 -1.2650612 -0.6868529 -0.4456620  1.2240818
 [7]  0.3598138  0.4007715  0.1106827 -0.5558411  1.7869131  0.4978505
[13] -1.9666172  0.7013559 -0.4727914 -1.0678237 -0.2179749 -1.0260044
[19] -0.7288912 -0.6250393

In [155]:
if(!require("psych")) install.packages("psych")
describe(df1)
?describe

Loading required package: psych

        vars n  mean        sd         median     trimmed   mad       min
column1 1    20 10.50000000  5.9160798 10.5000000 10.500000  7.413000  1.000000
y       2    20 -0.09005544  0.9883121 -0.3318184 -0.129463  1.057669 -1.966617
z       3    20 21.00000000 11.8321596 21.0000000 21.000000 14.826000  2.000000
        max       range    skew      kurtosis   se
column1 20.000000 19.00000 0.0000000 -1.3809286 1.3228757
y        1.786913  3.75353 0.2606164 -0.7378519 0.2209933
z       40.000000 38.00000 0.0000000 -1.3809286 2.6457513

In [156]:
my.airquality[2,]<-data.frame(34,197,7.8,67,5,0)
head(my.airquality)

ERROR: Error in my.airquality[2, ] <- data.frame(34, 197, 7.8, 67, 5, 0): oggetto "my.airquality" non trovato

In [157]:
my.airquality <- my.airquality[-2,]
#oppure
#subset(my.airquality, Day != 0 )
#oppure
#my.airquality[ ,2] <- NULL
head(my.airquality)

ERROR: Error in eval(expr, envir, enclos): oggetto "my.airquality" non trovato

In [158]:
#what's happening here?
subset(airquality[1:40,], Temp > 80, select = c(Ozone, Temp))

   Ozone Temp
29 45    81
35 NA    84
36 NA    85
38 29    82
39 NA    87
40 71    90

In [159]:
airquality[3,]

  Ozone Solar.R Wind Temp Month Day
3 12    149     12.6 74   5     3

In [160]:
#Upload an R dataframe
my.airquality <- airquality
head(my.airquality)

  Ozone Solar.R Wind Temp Month Day
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
5 NA     NA     14.3 56   5     5
6 28     NA     14.9 66   5     6

In [161]:
airquality[,1]

  [1]  41  36  12  18  NA  28  23  19   8  NA   7  16  11  14  18  14  34   6
 [19]  30  11   1  11   4  32  NA  NA  NA  23  45 115  37  NA  NA  NA  NA  NA
 [37]  NA  29  NA  71  39  NA  NA  23  NA  NA  21  37  20  12  13  NA  NA  NA
 [55]  NA  NA  NA  NA  NA  NA  NA 135  49  32  NA  64  40  77  97  97  85  NA
 [73]  10  27  NA   7  48  35  61  79  63  16  NA  NA  80 108  20  52  82  50
 [91]  64  59  39   9  16  78  35  66 122  89 110  NA  NA  44  28  65  NA  22
[109]  59  23  31  44  21   9  NA  45 168  73  NA  76 118  84  85  96  78  73
[127]  91  47  32  20  23  21  24  44  21  28   9  13  46  18  13  24  16  13
[145]  23  36   7  14  30  NA  14  18  20

In [162]:
summary(airquality)

     Ozone           Solar.R           Wind             Temp
 Min.   :  1.00   Min.   :  7.0   Min.   : 1.700   Min.   :56.00
 1st Qu.: 18.00   1st Qu.:115.8   1st Qu.: 7.400   1st Qu.:72.00
 Median : 31.50   Median :205.0   Median : 9.700   Median :79.00
 Mean   : 42.13   Mean   :185.9   Mean   : 9.958   Mean   :77.88
 3rd Qu.: 63.25   3rd Qu.:258.8   3rd Qu.:11.500   3rd Qu.:85.00
 Max.   :168.00   Max.   :334.0   Max.   :20.700   Max.   :97.00
 NA's   :37       NA's   :7
     Month            Day
 Min.   :5.000   Min.   : 1.0
 1st Qu.:6.000   1st Qu.: 8.0
 Median :7.000   Median :16.0
 Mean   :6.993   Mean   :15.8
 3rd Qu.:8.000   3rd Qu.:23.0
 Max.   :9.000   Max.   :31.0

In [163]:
airquality[airquality$Ozone>0,]

      Ozone Solar.R Wind Temp Month Day
1      41   190      7.4 67    5     1
2      36   118      8.0 72    5     2
3      12   149     12.6 74    5     3
4      18   313     11.5 62    5     4
NA     NA    NA       NA NA   NA    NA
6      28    NA     14.9 66    5     6
7      23   299      8.6 65    5     7
8      19    99     13.8 59    5     8
9       8    19     20.1 61    5     9
NA.1   NA    NA       NA NA   NA    NA
11      7    NA      6.9 74    5    11
12     16   256      9.7 69    5    12
13     11   290      9.2 66    5    13
14     14   274     10.9 68    5    14
15     18    65     13.2 58    5    15
16     14   334     11.5 64    5    16
17     34   307     12.0 66    5    17
18      6    78     18.4 57    5    18
19     30   322     11.5 68    5    19
20     11    44      9.7 62    5    20
21      1     8      9.7 59    5    21
22     11   320     16.6 73    5    22
23      4    25      9.7 61    5    23
24     32    92     12.0 61    5    24
NA.2   NA    NA       NA NA   NA    NA
NA.3   NA    NA       NA NA   NA    NA
NA.4   NA    NA       NA NA   NA    NA
28     23    13     12.0 67    5    28
29     45   252     14.9 81    5    29
30    115   223      5.7 79    5    30
⋮     ⋮     ⋮       ⋮    ⋮    ⋮     ⋮
124   96    167      6.9 91    9     1
125   78    197      5.1 92    9     2
126   73    183      2.8 93    9     3
127   91    189      4.6 93    9     4
128   47     95      7.4 87    9     5
129   32     92     15.5 84    9     6
130   20    252     10.9 80    9     7
131   23    220     10.3 78    9     8
132   21    230     10.9 75    9     9
133   24    259      9.7 73    9    10
134   44    236     14.9 81    9    11
135   21    259     15.5 76    9    12
136   28    238      6.3 77    9    13
137    9     24     10.9 71    9    14
138   13    112     11.5 71    9    15
139   46    237      6.9 78    9    16
140   18    224     13.8 67    9    17
141   13     27     10.3 76    9    18
142   24    238     10.3 68    9    19
143   16    201      8.0 82    9    20
144   13    238     12.6 64    9    21
145   23     14      9.2 71    9    22
146   36    139     10.3 81    9    23
147    7     49     10.3 69    9    24
148   14     20     16.6 63    9    25
149   30    193      6.9 70    9    26
NA.36 NA     NA       NA NA   NA    NA
151   14    191     14.3 75    9    28
152   18    131      8.0 76    9    29
153   20    223     11.5 68    9    30

In [164]:
#Let's try to understand how many records are complete
complete.cases(airquality)

  [1]  TRUE  TRUE  TRUE  TRUE FALSE FALSE  TRUE  TRUE  TRUE FALSE FALSE  TRUE
 [13]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE
 [25] FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE FALSE FALSE FALSE FALSE FALSE
 [37] FALSE  TRUE FALSE  TRUE  TRUE FALSE FALSE  TRUE FALSE FALSE  TRUE  TRUE
 [49]  TRUE  TRUE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
 [61] FALSE  TRUE  TRUE  TRUE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE FALSE
 [73]  TRUE  TRUE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE FALSE FALSE
 [85]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE FALSE
 [97] FALSE FALSE  TRUE  TRUE  TRUE FALSE FALSE  TRUE  TRUE  TRUE FALSE  TRUE
[109]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE FALSE  TRUE  TRUE  TRUE FALSE  TRUE
[121]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE
[133]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE
[145]  TRUE  TRUE  TRUE  TRUE  TRUE FALSE  TRUE  TRUE  TRUE

In [165]:
#and select them only
my.airquality <- airquality[complete.cases(airquality),]
my.airquality[my.airquality$Ozone>80,]

    Ozone Solar.R Wind Temp Month Day
30  115   223      5.7 79   5     30
62  135   269      4.1 84   7      1
69   97   267      6.3 92   7      8
70   97   272      5.7 92   7      9
71   85   175      7.4 89   7     10
86  108   223      8.0 85   7     25
89   82   213      7.4 88   7     28
99  122   255      4.0 89   8      7
100  89   229     10.3 90   8      8
101 110   207      8.0 90   8      9
117 168   238      3.4 81   8     25
121 118   225      2.3 94   8     29
122  84   237      6.3 96   8     30
123  85   188      6.3 94   8     31
124  96   167      6.9 91   9      1
127  91   189      4.6 93   9      4

In [166]:
subset(my.airquality, Month == 5 & Day > 15)

   Ozone Solar.R Wind Temp Month Day
16  14   334     11.5 64   5     16
17  34   307     12.0 66   5     17
18   6    78     18.4 57   5     18
19  30   322     11.5 68   5     19
20  11    44      9.7 62   5     20
21   1     8      9.7 59   5     21
22  11   320     16.6 73   5     22
23   4    25      9.7 61   5     23
24  32    92     12.0 61   5     24
28  23    13     12.0 67   5     28
29  45   252     14.9 81   5     29
30 115   223      5.7 79   5     30
31  37   279      7.4 76   5     31

# Dataframe creation

We've seen that a number of built-in data frame examples are available in R. 

In real life, dataframe can be created by combining individual vectors, other data frames or reading from exterlas cources (files or databases).

- `read.table()` function reads any file into a data frame and it can control file format like newline, separator, header etc... (`write.table()` is the equivalent write operation)
- `read.csv()` function reads a csv file into a data frame and it is dedicated to the csv pre-defined format (`write.csv()` is the equivalent write operation)
- Files can be downloaded directly from the web using `download.file()`
- Raw web pages can be scraped using `getURL()`


**inserire DB COnnection modulo 2 Renato**

In [167]:
##### working with data frames #####
getwd()
ds <- read.table("foods.csv")
#average length of review text
review.length <- unlist(lapply(as.character(knime.in$"ReviewText"), nchar))

[1] "/home/asus/workspace/Management Data Science/Repository/Data-Science-for-Management/tmpLavoro"

Warning message in file(file, "rt"):
“cannot open file 'foods.csv': File o directory non esistente”

ERROR: Error in file(file, "rt"): non posso aprire questa connessione

Dataframe can be manipulated in different ways, for example

- Data Frames can be combined with `rbind()` and `cbind()`

In [168]:
df1 <- data.frame(x = seq_len(10), y =rnorm(10), z = 2*seq_len(10))
df2 <- data.frame(xx = 10 + seq_len(10), yy =rnorm(10), zz = 2*(10+seq_len(10)))
df1; df2

   x  y          z
1   1 -0.1453936  2
2   2 -1.1655448  4
3   3 -0.8185157  6
4   4  0.6849361  8
5   5 -0.3200564 10
6   6 -1.3115224 12
7   7 -0.5996083 14
8   8 -0.1294107 16
9   9  0.8867361 18
10 10 -0.1513960 20

   xx yy         zz
1  11  0.3297912 22
2  12 -3.2273228 24
3  13 -0.7717918 26
4  14  0.2865486 28
5  15 -1.2205120 30
6  16  0.4345504 32
7  17  0.8001769 34
8  18 -0.1639310 36
9  19  1.2429188 38
10 20 -0.9343851 40

In [169]:
cbind(df1,df2)

   x  y          z  xx yy         zz
1   1 -0.1453936  2 11  0.3297912 22
2   2 -1.1655448  4 12 -3.2273228 24
3   3 -0.8185157  6 13 -0.7717918 26
4   4  0.6849361  8 14  0.2865486 28
5   5 -0.3200564 10 15 -1.2205120 30
6   6 -1.3115224 12 16  0.4345504 32
7   7 -0.5996083 14 17  0.8001769 34
8   8 -0.1294107 16 18 -0.1639310 36
9   9  0.8867361 18 19  1.2429188 38
10 10 -0.1513960 20 20 -0.9343851 40

In [170]:
df3 <- data.frame(x = 100 + seq_len(5), y =rnorm(5), z = 2*(100 + seq_len(5)))
df3

  x   y           z
1 101  0.39370865 202
2 102  0.40363146 204
3 103 -0.88643672 206
4 104 -1.31893760 208
5 105  0.02884391 210

In [171]:
rbind(df1,df3)

   x   y           z
1    1 -0.14539355   2
2    2 -1.16554485   4
3    3 -0.81851572   6
4    4  0.68493608   8
5    5 -0.32005642  10
6    6 -1.31152241  12
7    7 -0.59960833  14
8    8 -0.12941069  16
9    9  0.88673615  18
10  10 -0.15139596  20
11 101  0.39370865 202
12 102  0.40363146 204
13 103 -0.88643672 206
14 104 -1.31893760 208
15 105  0.02884391 210

- Columns can be added by using an associative name and contents

In [172]:
df3$example_col <- c(1,2,3,4,5)
df3

  x   y           z   example_col
1 101  0.39370865 202 1
2 102  0.40363146 204 2
3 103 -0.88643672 206 3
4 104 -1.31893760 208 4
5 105  0.02884391 210 5

- Most operations on vectors can be done on individual rows or columns of a data frame, for example any vector can be sorted using `sort()`, so we can sort the column `y` of dataframe `df1` in the same way

In [173]:
sort(df1$y)

 [1] -1.3115224 -1.1655448 -0.8185157 -0.5996083 -0.3200564 -0.1513960
 [7] -0.1453936 -0.1294107  0.6849361  0.8867361

## Dataframe transformations: Sorting, Merging, Binning
Any vector can be sorted using the `sort()` function. A Data Frame can be sorted according to one or more of its columns using the `order()` function.

In [174]:
df1[order(df1$y) , ]

   x  y          z
6   6 -1.3115224 12
2   2 -1.1655448  4
3   3 -0.8185157  6
7   7 -0.5996083 14
5   5 -0.3200564 10
10 10 -0.1513960 20
1   1 -0.1453936  2
8   8 -0.1294107 16
4   4  0.6849361  8
9   9  0.8867361 18

In [175]:
df1[order(-df1$z, df1$y),]

   x  y          z
10 10 -0.1513960 20
9   9  0.8867361 18
8   8 -0.1294107 16
7   7 -0.5996083 14
6   6 -1.3115224 12
5   5 -0.3200564 10
4   4  0.6849361  8
3   3 -0.8185157  6
2   2 -1.1655448  4
1   1 -0.1453936  2

Two Data Frames can be merged using `merge()`. 
- if two dataframes have a column with the same name `merge()` will use that column for the join operation
- otherwise you have to specify the column on the left dataframe and the column on the riht dataframe to join

In [176]:
df4 <- data.frame(k = seq(from = 7, to = 1, by = -1), l = runif(7))
df4; df1

  k l
1 7 0.3328235
2 6 0.4886130
3 5 0.9544738
4 4 0.4829024
5 3 0.8903502
6 2 0.9144382
7 1 0.6087350

   x  y          z
1   1 -0.1453936  2
2   2 -1.1655448  4
3   3 -0.8185157  6
4   4  0.6849361  8
5   5 -0.3200564 10
6   6 -1.3115224 12
7   7 -0.5996083 14
8   8 -0.1294107 16
9   9  0.8867361 18
10 10 -0.1513960 20

In [177]:
merge(df1,df4, by.x = "x", by.y = "k" )

  x y          z  l
1 1 -0.1453936  2 0.6087350
2 2 -1.1655448  4 0.9144382
3 3 -0.8185157  6 0.8903502
4 4  0.6849361  8 0.4829024
5 5 -0.3200564 10 0.9544738
6 6 -1.3115224 12 0.4886130
7 7 -0.5996083 14 0.3328235

Continuous data can be converted to categorical data by binning (conversion into pre-defined ranges or bins) using the cut() function

In [178]:
cut(df$y, c(-Inf,seq(0.5, 1, 0.1), Inf))

ERROR: Error in df$y: object of type 'closure' is not subsettable

### Apply function
A number of R programs require looping through a data frame and performing an operation on each record. The “apply” class of functions provide a short-cut through which that entire operation can be performed in one function call.

The function to apply for each row can be a user defined function too.

Variants of the “apply” functions include `apply`, `eapply`, `lapply`, `mapply`, `rapply`, `tapply`

In [179]:
mat <- matrix(c(1:20), nrow= 10, ncol= 2)
apply(mat, 1, mean)
apply(mat, 2, mean)

 [1]  6  7  8  9 10 11 12 13 14 15

[1]  5.5 15.5

`apply(matrice, indice, funzione)`
- con indice=1 applica funzione() alle righe di matrice, e
- ritorna un vettore lungo come il numero di colonne.

In [180]:
nrighe <- 100000; ncolonne <- 10
m <- matrix(rnorm(nrighe*ncolonne),
nrow=nrighe, ncol=ncolonne)
mediacolonne <- apply(m,2,mean)

`lapply(lista, funzione)`
- Applica funzione() a ciascun elemento di lista;
- ritorna una list con la stessa lunghezza di lista.

In [181]:
L <- list(1:2, 3:7, -1:10)
lapply(L, sd)

[[1]]
[1] 0.7071068

[[2]]
[1] 1.581139

[[3]]
[1] 3.605551

`sapply(dataframe, funzione)`
- a ciascuna colonna di dataframe viene applicata funzione();
- ritorna vettore lungo quanto il numero di colonne di dataframe.

In [182]:
clienti <- data.frame(genere = c("M","F","F",NA),
altezza=c(172,186.5,165,180),
peso = c(91, 75, 74, 85))
sapply(clienti, mean)
sapply(clienti[ ,c(2,3)], quantile, prob=0.95)

Warning message in mean.default(X[[i]], ...):
“argument is not numeric or logical: returning NA”

 genere altezza    peso
     NA 175.875  81.250

altezza.95%    peso.95%
    185.525      90.100

`tapply(vettore, fattore, funzione)`
- vettore viene suddiviso in sotto-vettori corrispondenti alle fattore;
- a ciascun sottovettore viene applicata funzione();
- ritorna vettore lungo quanto il numero livelli di fattore.

In [183]:
clienti <- data.frame(genere = c("M","F","F",NA),
altezza=c(172,186.5,165,180),
peso = c(91, 75, 74, 85))
tapply(clienti$altezza, clienti$genere,
mean, na.rm=TRUE)

     F      M
175.75 172.00

# Control Structures

**if-else**:

`if (cond) expr`
`if (cond) expr1 else expr2`

In [184]:
x <- 10
if(x>1){
 print("x is greater than 1")
 }else{
  print("x is less than 1")
  }

[1] "x is greater than 1"

**for**:

`for (varinseq) expr`

In [185]:
x <- c(1,2,3,4,5)
 for(i in 1:5){
     print(x[i])
 }

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5

**next** #can you guess what's going here?

In [186]:
x = 1: 4 
 for (i in x) { 
     if (i == 2){ 
         next}
     print(i)
 }

[1] 1
[1] 3
[1] 4

**while**:

`while (cond) expr`

In [187]:
x = 2.987
while(x <= 4.987) { 
     x = x + 0.987
     print(c(x,x-2,x-1)) 
 }

[1] 3.974 1.974 2.974
[1] 4.961 2.961 3.961
[1] 5.948 3.948 4.948

**repeat**:

`repeat {expr (break condition) {break} }`

In [188]:
x = 1
repeat {
   print(x)
   x = x+1
   if (x == 6){
       break
   }
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5

ifelse

`ifelse(test,yes,no)`

In [189]:
a <- c(1,0,0,0,1,0,0,0)
b <- ifelse(a==1,"True", "False")
b

[1] "True"  "False" "False" "False" "True"  "False" "False" "False"

# User Defined Functions

R functions are objects that evaluate multiple expressions using arguments that are passed to them. Typically an object is returned.

Functions can be built and saved as function definitions in memory. They take input parameters and write output

To declare a function

`function name <- function(argument list) {
                    body
                    }`

The `argument list` is a comma-separated list of formal argument names, some of them are mandatory, others are not. Those which are not mandatory usually are assumed to take a default value, which can be modified.

Generally, the `body` is a group of R expressions contained in curly brackets {}. If the body is only one expression the curly brackets are optional.

Functions are usually assigned names, but the names are optional. **Be careful with naming functions, could overwrite existing R functions!** 

Since a function is an object we can pass it as an argument to other functions just like any other object.

In [190]:
computeSum <- function(x,y) {
    x+y
}

computeSum(3,5)

[1] 8

In [191]:
segno <- function(x){ 
    
    if(x<0){ 
        print("negativo") 
    }
    
    else { 
        print("non negativo") 
    }
    
} 

segno(0) # chiamata di funzione

[1] "non negativo"

In [205]:
# Calculate the odds ratio of a 2x2 table and the
# asymptotic confidence interval for the odds ratio
# Arguments: X = 2x2 matrix
# conf.level = confidence level
#----------------------------------------------------

odds.ratio <- function(X, conf.level=.95) {
    OR <- (X[1,1]*X[2,2])/(X[1,2]*X[2,1])
    logOR.SE <- sqrt(sum(1/X))
    alpha <- 1-conf.level
    CI.lower <- exp(log(OR) - qnorm(1-alpha/2)*logOR.SE)
    CI.upper <- exp(log(OR) + qnorm(1-alpha/2)*logOR.SE)
    cat("Odds Ratio = ", OR, "\n", conf.level*100, "% Confidence Interval = (", CI.lower, ", ", CI.upper, ")\n", sep="")
}

X <- matrix(c(189, 104, 10845, 10933), 
            nrow=2, 
            dimnames=list("Treatment"=c("Placebo", "Aspirin"),"Myocardial Infarction"=c("Yes", "No")))

odds.ratio(X)

Odds Ratio = 1.832054
95% Confidence Interval = (1.440042, 2.33078)

In [206]:
 odds.ratio(X, conf.level=0.99)

Odds Ratio = 1.832054
99% Confidence Interval = (1.335117, 2.513954)

In [ ]:
#costruire alcune funzioni in R

Often we will want a function to return an object that can be assigned.

Two functions for returning objects are `return()` and `invisible()`. The `return()` function prints and returns its arguments. `invisible()` is similar to `return()`. This function is useful when we want a function to return values which can be assigned, but which do not print when they are not assigned.

**Bear in mind a list is often a good tool for returning multiple objects**.

You may find useful using `cat()` or `print()` to output text.

In [207]:
funz <- function ( x, y = 2, z = 3 ) {
    return(x+y+z) 
}

funz(5)

[1] 10

In [210]:
funz <- function ( x, y = 2, z = 3 ) {
    invisible(x+y+z) 
}

funz(5)
ls()

 [1] "a"             "A"             "a1"            "b"
 [5] "bdays"         "boolean"       "clienti"       "computeSum"
 [9] "df1"           "df2"           "df3"           "df4"
[13] "f"             "f2"            "funz"          "i"
[17] "l"             "L"             "m"             "mat"
[21] "mediacolonne"  "my.airquality" "mybool"        "mystring"
[25] "n"             "N"             "ncolonne"      "nrighe"
[29] "nwbuilding"    "odds.ratio"    "segno"         "string"
[33] "strings"       "tm1"           "tm1.c"         "tm1.lt"
[37] "tm2"           "tm2.c"         "tm3"           "v"
[41] "w"             "x"             "X"             "y"
[45] "z"

In [217]:
odds.ratio <- function(X, conf.level=.95) {
    OR <- (X[1,1]*X[2,2])/(X[1,2]*X[2,1])
    logOR.SE <- sqrt(sum(1/X))
    alpha <- 1-conf.level
    CI.lower <- exp(log(OR) - qnorm(1-alpha/2)*logOR.SE)
    CI.upper <- exp(log(OR) + qnorm(1-alpha/2)*logOR.SE)
    
    cat("Odds Ratio = ", OR, "\n",
        conf.level*100, "% Confidence Interval = (",
        CI.lower, ", ", CI.upper, ")\n", sep="")

    # Different approaches for returning results...try all of them
    #OR
    #return(OR)
    #invisible(OR)
    out <- list(OR=OR, CI=c(CI.lower, CI.upper), conf.level=conf.level)
    return(out)
}

# Unassigned and assigned function results
odds.ratio(X)
myOR <- odds.ratio(X)

Odds Ratio = 1.832054
95% Confidence Interval = (1.440042, 2.33078)

$OR
[1] 1.832054

$CI
[1] 1.440042 2.330780

$conf.level
[1] 0.95

Odds Ratio = 1.832054
95% Confidence Interval = (1.440042, 2.33078)

**Scope od a variable**. When objects are created, they are assigned to an environment. 

Environments are hierarchical, the top-level is called the global environment. Objects assigned by the user during an R session are placed in the global environment.

Assignments within the body of a function use a different environment that is created just for that function.

When an object is evaluated within a function, R first looks locally within the function and its arguments for the object. If R cannot find the name of the object locally it looks in the parent environment, this will almost always
be the global environment.

Therefore an object within a function can have the same name as an object in the global environment; because R will choose to use the object defined in the local environment.

The bottom line is that objects defined in the global environment are also accessible by a function. However, objects defined within a function are not accessible from the global environment.

**Input errors management**. If you are writing a function for others to use it is often a good idea to include code that verifies that the appropriate arguments were entered.

If an argument value is not valid we want to stop executing the expression and return an error message.
- `missing()` Can be used to test whether a value was specified as an argument to a function; returns TRUE if a value is not specified and FALSE if a value is specified.
- `stop()` Stop execution of the current expression and prints an error message
- `warning()` Generate a warning message
- `message()` Generate a diagnostic message
- `stopifnot()` If any of the arguments are not all TRUE then `stop()` is called and an error message is produced that indicates the first element of the argument list that is not TRUE.
- `stop()` allows us to provide an informative error message, while `stopifnot()` requires less code.

In [218]:
# Calculate the odds ratio (OR) of a 2x2 table and the asymptotic
# confidence interval (CI) for the OR.
# Arguments: X = 2x2 matrix; conf.level = confidence level
# Output: Prints OR and CI to console and returns a list, invisibly
#------------------------------------------------------------------
odds.ratio <- function(X, conf.level=.95) {
    # Verify Arguments
    stopifnot(!missing(X), is.matrix(X), dim(X)==c(2,2), X>0) 
    # Print warning message if any expected cell count < 5 
    exp.count <- (apply(X, 1, sum) %o% apply(X, 2, sum))/sum(X) 
    if(any(exp.count < 5)) warning("Expected cell count < 5") 
        # Calculate odds ratio and asymptotic confidence interval 
        OR <- (X[1,1]*X[2,2])/(X[1,2]*X[2,1]) 
        logOR.SE <- sqrt(sum(1/X)) 
        alpha <- 1-conf.level 
        CI.lower <- exp(log(OR) - qnorm(1-alpha/2)*logOR.SE) 
        CI.upper <- exp(log(OR) + qnorm(1-alpha/2)*logOR.SE) 
        # Format and return results 
        cat("Odds Ratio = ", OR, "\n",
            conf.level*100, "% Confidence Interval = (",
            CI.lower, ", ", CI.upper, ")\n", sep="")
        out <- list(OR=OR, CI=c(CI.lower, CI.upper), conf.level=conf.level)
        invisible(out)
}

odds.ratio(X)

Odds Ratio = 1.832054
95% Confidence Interval = (1.440042, 2.33078)

In [220]:
Z <- matrix(c(189, 104, 10845, 10933, 500, 800, 900, 900, 900), 
            nrow=3)
odds.ratio(Z)

ERROR: Error: dim(X) == c(2, 2) are not all TRUE

# Statistical Functions
R has several built-in statistical distributions. For each distribution four
functions are available,
r Random number generator
d Density function
p Cumulative distribution function
q Quantile function
 Each letter can be added as a prefix to any of the R distribution names.
R Distribution R Distribution
beta Beta logis Logistic
binom Binomial nbinom Negative binomial
cauchy Cauchy norm Normal
exp Exponential pois Poisson
chisq Chi-Square signrank Wilcoxon signed rank statistic
f Fisher’s F t Student’s t
gamma Gamma unif Uniform
geom Geometric weibull Weibull
hyper Hypergeometric wilcox Wilcoxon rank sum
lnorm Lognormal

In [203]:
dnorm(1.96, mean=0, sd=1) # Density

pnorm(1.96, mean=0, sd=1) # Distribution (lower tail)

pnorm(1.96, mean=0, sd=1, lower.tail=FALSE) # Distribution (upper tail)

qnorm(0.975, mean=0, sd=1) # Quantile

rnorm(5, mean=0, sd=1) # Random Number

[1] 0.05844094

[1] 0.9750021

[1] 0.0249979

[1] 1.959964

[1] -0.6698617  1.2051916  1.4794926  0.6278856 -0.3516654

# Georeferenced Data

In [38]:
if(!require(ggmap)) install.packages("ggmap", repos = "http://cran.r-project.org")

Loading required package: ggmap
Warning message in library(package, lib.loc = lib.loc, character.only = TRUE, logical.return = TRUE, :
"there is no package called 'ggmap'"also installing the dependencies 'maps', 'sp', 'proto', 'RgoogleMaps', 'png', 'rjson', 'mapproj', 'jpeg', 'geosphere'

package 'maps' successfully unpacked and MD5 sums checked
package 'sp' successfully unpacked and MD5 sums checked
package 'proto' successfully unpacked and MD5 sums checked
package 'RgoogleMaps' successfully unpacked and MD5 sums checked
package 'png' successfully unpacked and MD5 sums checked
package 'rjson' successfully unpacked and MD5 sums checked
package 'mapproj' successfully unpacked and MD5 sums checked
package 'jpeg' successfully unpacked and MD5 sums checked
package 'geosphere' successfully unpacked and MD5 sums checked
package 'ggmap' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\t000524\AppData\Local\Temp\RtmpucOHJe\downloaded_packages

In [39]:
library(ggmap)

Warning message:
"package 'ggmap' was built under R version 3.3.3"Loading required package: ggplot2

In [42]:
nwbuilding <- geocode("Via Laura 48, 50124 Firenze", source = "google")

Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Via%20Laura%2048,%2050124%20Firenze&sensor=false

In [43]:
ggmap(get_map("Firenze, IT", zoom = 15)) +
  geom_point(data=nwbuilding, size = 7, shape = 13, color = "red")

Map from URL : http://maps.googleapis.com/maps/api/staticmap?center=Firenze,+IT&zoom=15&size=640x640&scale=2&maptype=terrain&language=en-EN&sensor=false
Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Firenze,%20IT&sensor=false

ERROR: Error in as.vector(y): attempt to apply non-function

In [44]:
qmap(location = "boston university")

Map from URL : http://maps.googleapis.com/maps/api/staticmap?center=boston+university&zoom=10&size=640x640&scale=2&maptype=terrain&language=en-EN&sensor=false
Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=boston%20university&sensor=false

ERROR: Error in as.vector(y): attempt to apply non-function

In [45]:
ggmap(get_map("Firenze, IT", zoom = 15))

Map from URL : http://maps.googleapis.com/maps/api/staticmap?center=Firenze,+IT&zoom=15&size=640x640&scale=2&maptype=terrain&language=en-EN&sensor=false
Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=Firenze,%20IT&sensor=false

ERROR: Error in as.vector(y): attempt to apply non-function